@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100;
   
}

body {
    background-image: linear-gradient(to right, #D9B5AD, #D97E7E);
}

main {
    background-color: #F2EAD0;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #735236a1;
}

p {
    text-align: justify;
}

h1 {
    color:  #4e3925;
    text-align: center;
    text-shadow: 1px 1px 2px #4e392593;
}

h2 {
    color: #4e3925;
    
}

